html,
body {
  height: 100%;
}

body {
  font-family: $fontFamily;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  overflow-x: hidden;
  min-width: 320px;
}



.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

// Основная сетка -------------------------

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: $md1+px) {
    max-width: 970px;
  }

  @media (max-width: $md2+px) {
    max-width: 750px;
  }

  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}