// Подключаем шрифты из googlefonts ---------------------------------
// &display=swap&subset=cyrillic-ext

// Миксины -------------------------------------
@import "mixins";

// Подключение шрифтов -------------------------
@import "fonts";
// Подключение иконочного шрифта ---------------
@import 'icons';

// Подключение переменных -----------------------
@import 'vars';
// Обнуление и общие параметры ------------------
@import 'reset';
@import 'global';
// Подключение сторонних библиотек -------------- 
@import 'libs';

// 



// header

.header {
	border-bottom: 1px solid #bfbfbf;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


// main ========================================================

.page {
	margin-top: 100px;
}

.page__section {
	padding: 50px 0;
}

.page__section_1 {
	background-color: #794f45;
}

.page__section_2 {
	background-color: #312e35;
}

.page__section_3 {
	background-color: #7a956b;
}

// main ========================================================
// footer ========================================================



// Подключение модулей ----------------------------
@import 'modules/menu';
@import 'modules/popup';
@import 'modules/tabs';
@import 'modules/form';
@import 'modules/slider';




// Media
@import 'media';